.left_section
{
    margin: 10px;
}
.inp1,.lbl1
{
    color: white;
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 1px;
}

.inp2,.lbl2
{
    color: white;
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 8px;
    margin-left: 1px;
}